<div class="sticky top-0 z-30 w-full bg-indigo-500">
  <nav
    class="
      mx-auto
      2xl:container
      h-16
      px-1
      md:px-5
      flex
      justify-between
      items-center
    "
  >
    <h3
      class="font-bold text-xl text-gray cursor-pointer text-white pl-5"
      style="font-family: Lobster"
    >
      <i class="zmdi zmdi-library text-gray-100" style="font-size: 22px"></i>
      &nbsp; Apado
      <span
        class="hidden md:inline-block text-white"
        style="font-family: Lobster"
        >Chat</span
      >
    </h3>

    <!-- <div class="menu">
      <a
        href=""
        style="font-size: 25px"
        class="
          text-gray-100
          rounded
          py-2
          px-6
          md:px-12
          hover:bg-gray-200 hover:bg-opacity-25
          ml-5
          inline-block
          relative
        "
      >
        <i class="zmdi zmdi-comments"></i>
        <span
          class="
            absolute
            top-0.5
            right-4
            md:right-8
            leading-5
            h-5
            w-5
            bg-red-400
            text-white
            rounded-full
            text-xs text-center
          "
        >
          1
        </span>
      </a>
    </div> -->

    <div class="flex items-center">
      <div class="pr-3">
        <span
          class="
            md:hidden
            h-10
            w-10
            text-center
            inline-block
            rounded-full
            cursor-pointer
            bg-gray-200 bg-opacity-25
          "
          style="line-height: 3rem"
          onclick="window.location.href='/search';"
        >
          <i class="zmdi zmdi-search text-gray-100" style="font-size: 28px"></i
        ></span>
        <input
          type="text"
          id="s"
          class="
            hidden
            md:inline-block
            border-none
            outline-none
            px-4
            py-1
            rounded-full
            bg-gray-100
          "
          placeholder="search user"
        />
      </div>
      <div
        class="dropdown relative cursor-pointer pr-5"
        @click.away="open = false"
        x-data="{open:false}"
      >
        <div
          class="
            flex
            items-center
            p-2
            bg-gray-200
            md:bg-transparent
            bg-opacity-50
            hover:bg-gray-200
            rounded-full
            hover:bg-opacity-50
          "
          @click="open = !open"
        >
          <img
            class="block h-8 w-8 md:h-6 md:w-6 rounded-full ring-2 ring-white"
            src="<%= u.picture %>"
            alt=""
          />
          <div
            class="n pl-2 text-gray-100 font-semibold hidden md:inline-block"
          >
            <%= u?.name?.split(' ')[0] %>
          </div>
        </div>
        <div
          x-show="open"
          x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="
            absolute
            right-0
            w-40
            mt-2
            origin-top-right
            rounded-md
            shadow-lg
          "
        >
          <div
            class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"
          >
            <a
              class="
                block
                px-4
                py-2
                mt-2
                text-gray-800 text-left text-sm
                font-semibold
                bg-transparent
                rounded-lg
                dark-mode:bg-transparent
                dark-mode:hover:bg-gray-600
                dark-mode:focus:bg-gray-600
                dark-mode:focus:text-white
                dark-mode:hover:text-white
                dark-mode:text-gray-200
                md:mt-0
                hover:text-gray-900
                focus:text-gray-900
                hover:bg-gray-200
                focus:bg-gray-200 focus:outline-none focus:shadow-outline
              "
              href="/logout"
              >Log out</a
            >

            <a
              class="
                block
                px-4
                py-2
                mt-2
                text-gray-800 text-left text-sm
                font-semibold
                bg-transparent
                rounded-lg
                dark-mode:bg-transparent
                dark-mode:hover:bg-gray-600
                dark-mode:focus:bg-gray-600
                dark-mode:focus:text-white
                dark-mode:hover:text-white
                dark-mode:text-gray-200
                md:mt-0
                hover:text-gray-900
                focus:text-gray-900
                hover:bg-gray-200
                focus:bg-gray-200 focus:outline-none focus:shadow-outline
              "
              href="/profile"
              >Profile</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
