<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="{{ csrfToken }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if(valid == true){ %> Create New Password <% }else {%> 404 not found
      <%}%>
    </title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css"
    />
  </head>

  <body
    class="
      flex flex-col
      items-center
      justify-center
      w-screen
      h-screen
      bg-gray-100
      text-gray-700
    "
  >
    <% if(valid == true){ %>
    <h1 class="font-bold text-2xl">Create New Password :)</h1>

    <form
      class="container px-5 pb-24 mx-auto flex mt-3"
      method="POST"
      id="form"
      action="/user/updatepassword"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <div
        class="
          lg:w-1/3
          md:w-1/2
          bg-white
          rounded
          p-8
          flex flex-col
         mx-auto
         mt-4
          w-full
          mt-10
          md:mt-0
          py-12
          z-10
        "
      >
        <div class="p-2 my-2 hidden error w-full">
          <div
            class="
              inline-flex
              items-center
              bg-white
              leading-none
              text-pink-600
              rounded-full
              p-2
              shadow
              text-teal text-sm
              w-full
            "
          >
            <span
              class="
                inline-flex
                bg-pink-600
                text-white
                rounded-full
                h-6
                px-3
                justify-center
                items-center
              "
              >Error</span
            >
            <span class="inline-flex px-2 w-full espan"> </span>
          </div>
        </div>

        <div class="relative mb-4">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >New Password</label
          >
          <input
            autofocus
            type="password"
            id="password"
            name="password"
            class="
              w-full
              bg-white
              rounded
              border border-gray-300
              text-base
              outline-none
              text-gray-700
              py-2
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
              focus:bg-white
              bg-gray-100
            "
          />
        </div>
        <div class="relative mb-4">
          <label for="cpassword" class="leading-7 text-sm text-gray-600"
            >Confirm Password</label
          >
          <input
            type="password"
            id="cpassword"
            name="confirm_password"
            class="
              w-full
              focus:bg-white
              bg-gray-100 bg-white
              rounded
              border border-gray-300
              text-base
              outline-none
              text-gray-700
              py-2
              px-3
              leading-8
              transition-colors
              duration-200
              ease-in-out
            "
          />
        </div>
        <input type="hidden" name="token" value="<%= token %>" />
        <button
          class="
            mt-6
            text-white
            bg-indigo-500
            border-0
            py-3
            lg:py-2
            px-6
            focus:outline-none
            hover:bg-indigo-600
            rounded
            text-lg
          "
        >
          Set New Password
        </button>
      </div>
    </form>

    <script>
      let form = document.querySelector("#form");
      let err = document.querySelector(".error");
      let errspan = document.querySelector(".error .espan");
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        let pass = document.getElementById("password");
        let cpass = document.getElementById("cpassword");
        if (pass.value.length < 6) {
          err.classList.remove(`hidden`);
          errspan.innerText = `password must be greater then 6 chars.`;
          return;
        } else if (pass.value !== cpass.value) {
          err.classList.remove(`hidden`);
          errspan.innerText = `confirm password are not matching.`;
          return;
        }
        err.classList.add(`hidden`);
        errspan.innerText = ``;
        form.submit();
      });
    </script>

    <% }else{%>

    <!-- Component Start -->
    <h1 class="font-bold text-2xl">ERROR :(</h1>
    <form
      class="
        flex flex-col
        bg-white
        rounded
        shadow-lg
        mx-3
        p-12
        mt-12
        text-center
      "
    >
      <h3 class="font-bold text-6xl text-red-500">404</h3>
      <h4 class="font-bold text-2xl mt-3">
        The page is not found on the server.
      </h4>

      <p class="text-gray-400 mt-6">
        We are sorry to say that the page you are trying to visit does not
        exists.
      </p>
      <br />
      <a
        href="/"
        class="
          px-4
          py-2
          rounded
          bg-indigo-500
          text-white
          inline-block
          font-semibold
          text-center
        "
        >Go back
      </a>
    </form>

    <% } %>
  </body>
</html>
